node_modules/
.env
.env.*
.DS_Store
dist/
.next/
.vercel/
.turbo/
.cache/
coverage/
*.log
apps/cms/.cache
apps/cms/build
apps/cms/node_modules
apps/web/.next
apps/web/node_modules
postgres-data/
strapi-data/
apps/cms/public/uploads/
